<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center hero">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 th:text="관리자"></h4>
                        <h2 th:text="로그인"></h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li th:text="로그인"></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Get a Quote Section ======= -->
    <section id="get-a-quote" class="get-a-quote">
        <div class="container" data-aos="fade-up">

            <div class="row g-0" style="justify-content: center;">

                <div class="col-lg-5">
                    <form th:action="@{/login}" method="post" class="php-email-form signup-form" th:object="${form}">
                        <h3 th:text="|관리자 로그인|"></h3>
                        <div class="row gy-4">
                            <div class="col-md-12"></div>

                            <div class="col-md-12 input-container">
                                <input type="email" class="form-control" th:field="*{email}" placeholder="이메일" th:required="required"/>
                            </div>

                            <div class="col-md-12 input-container">
                                <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호" th:required="required"/>
                            </div>

                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="remember-me">
                                <label class="custom-control-label" for="customCheck" th:text="자동로그인"></label>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit" th:text="로그인"></button>
                            </div>
                        </div>
                    </form>
                </div><!-- End Quote Form -->

            </div>

        </div>
    </section><!-- End Get a Quote Section -->

</main><!-- End #main -->


<th:block th:replace="layout/footer :: footer"></th:block>

<script th:inline="javascript">

</script>
</body>
</html>