<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center hero">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 th:text="|정보 추가|"></h4>
                        <h2 th:text="${toilet.fName}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{/main}" th:text="홈"></a></li>
                    <li th:text="|화장실 정보 추가|"></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Get a Quote Section ======= -->
    <section id="get-a-quote" class="get-a-quote">
        <div class="container" data-aos="fade-up">

            <div class="row g-0 team" style="justify-content: center;">
                <div class="col-lg-5">

                    <form th:action method="post" enctype="multipart/form-data" id="addNewForm" th:object="${form}">

                        <div class="php-email-form signup-form">
                            <div class="col-md-12 text-center" style="margin-bottom: 20px;">

                                <div class="row gy-4">
                                    <div class="col-md-12 input-container">
                                        <input class="form-control" th:field="*{toiletNm}"/>
                                    </div>

                                    <div class="col-md-12 input-container">
                                        <input class="form-control" th:field="*{roadAddress}" placeholder="도로명 주소"/>
                                    </div>

                                    <div class="col-md-12 input-container">
                                        <input class="form-control" th:field="*{landAddress}" placeholder="지번 주소"/>
                                    </div>

                                    <div class="col-md-12 input-container d-flex" style="align-items: center;">
                                        <i class="bi bi-phone"></i>
                                        <input type="tel" class="form-control" th:field="*{phone}" data-valid="1" placeholder="전화번호" />
                                    </div>
                                    <i class="text-start" id="phoneValidationMsg" style="color:red; margin-top:3px;"></i>
                                </div>

                                <div class="input-group d-flex" style="margin-top:15px;">
                                    <i class="input-group-text">개방시간</i>
                                    <div class="input-container select-container">
                                        <select class="form-select form-select-sm" th:field="*{openHour}">
                                            <option th:value="0" selected>시</option>
                                        </select>
                                        <span th:text="|:|"></span>
                                        <select class="form-select form-select-sm" th:field="*{openMinute}">
                                            <option th:value="0" selected>분</option>
                                        </select>
                                        <i th:text="| ~ |"></i>
                                        <select class="form-select form-select-sm" th:field="*{closeHour}">
                                            <option th:value="0" selected>시</option>
                                        </select>
                                        <span th:text="|:|"></span>
                                        <select class="form-select form-select-sm" th:field="*{closeMinute}">
                                            <option th:value="0" selected>분</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h3 th:text="|변경 사항|"></h3>
                            <div class="changes member text-start" style="flex-wrap: wrap;">
                                <div>
                                    <input type="checkbox" id="refreshPaperDate" th:field="*{refreshPaperDate}"/>
                                    <label th:text="|화장지 교체일자|" for="refreshPaperDate"></label>
                                </div>

                                <div>
                                    <input type="checkbox" id="cleaningDate" th:field="*{cleaningDate}"/>
                                    <label th:text="|최근 청소일자|" for="cleaningDate"></label>
                                </div>

                                <div>
                                    <input type="checkbox" id="diaperChangeTable" th:field="*{diaperChangeTable}"/>
                                    <label th:text="|기저귀 교환대 유무|" for="diaperChangeTable"></label>
                                </div>

                            </div>
                            <div style="margin-bottom: 20px;">
                                <h3>
                                    <label th:text="|주의 사항|" for="caution"></label>
                                </h3>
                                <textarea class="form-control" id="caution" th:field="*{caution}" rows="6"></textarea>
                            </div>

                            <div>
                                <h3 th:text="|관련 사진|"></h3>
                                <input class="form-control form-control-sm" type="file" th:field="*{imageFiles}" multiple/>
                            </div>
                            <div class="member image-container" style="justify-content: center;">
                                <h5 th:text="|이미지 없음|"></h5>
                            </div>

                            <br />
                            <div class="btn-container text-center">
                                <input type="hidden" name="object_id" th:value="${form.object_id}" />
                                <button type="button" class="btn-submit" id="saveButton" th:text="완료"></button>
                                <hr />
                                <a class="btn btn-link" th:href="@{/main}" th:text="취소"></a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </section><!-- End Get a Quote Section -->

</main><!-- End #main -->


<th:block th:replace="layout/footer :: footer"></th:block>

<script th:inline="javascript">
    // 고정/자주 사용할 변수값
    let objectIdVal = [[${toilet.object_id}]];

    // 셀렉트 옵션 추가
    function createSelOption() {
        console.log("createSelOption");
        let openHourSel = $("select#openHour");
        let openMinuteSel = $("select#openMinute");
        let closeHourSel = $("select#closeHour");
        let closeMinuteSel = $("select#closeMinute");

        // open Hour
        for(let i = 0; i < 24; i++) {
            // 새로운 <option> 요소 생성
            let newOption = $("<option></option>").val(i).text(i);
            // <select>에 <option> 추가
            openHourSel.append(newOption);
        }
        // close Hour
        for(let i = 0; i < 24; i++) {
            let newOption = $("<option></option>").val(i).text(i);
            closeHourSel.append(newOption);
        }
        // open Minute
         for(let i = 0; i < 12; i++) {
            let j = i * 5;
            let newOption = $("<option></option>").val(j).text(j);
            openMinuteSel.append(newOption);
        }
        // close Minute
         for(let i = 0; i < 12; i++) {
            let j = i * 5;
            let newOption = $("<option></option>").val(j).text(j);
            closeMinuteSel.append(newOption);
        }
    }; // createSelOption end

    // 전화번호 유효성 검사
    function isValidPhone(value) {
        let phonePattern = /^\d{2,3}-\d{3,4}-\d{4}$/;
        if(phonePattern.test(value)) {
            $("#phoneValidationMsg").html("");
            return true;
        } else {
            $("#phoneValidationMsg").html("전화번호를 올바르게 입력해주세요.");
            return false;
        }
    }; // isValidPhone end

    setInputValue();
    function setInputValue() {
        $("#toiletNm").val([[${toilet.fName}]]);
    } // setInputValue end

    $(document).ready(function(){
        createSelOption();

        // 전화번호 입력 후 유효성 검사 시키기
        $("#phone").blur(function(){
            console.log("blur");
            if(isValidPhone($(this).val())) {
                $(this).attr("data-valid", "1");
            } else {
                $(this).removeAttr("data-valid");
            }
        }); // phone blur event end

        // 완료 버튼 클릭 이벤트
        $(".btn-container").on("click", "button#saveButton", function(){
            console.log("saveButton clicked");
            let phoneData = $("#phone").data("valid");
            if(phoneData != 1) {
                alert("전화번호를 다시 확인해주세요.");
                return;
            }
            $("#addNewForm").submit();
        }); // saveButton click event end

    });
</script>
</body>
</html>